<div class="header">
    <div class="sidebar">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="<%= path === '/admin/labs' ? 'active' : '' %>" href="/admin/labs">My Labs
        </a>
      </div>
      <span style="font-size:30px;cursor:pointer;color: #FFFFFF;" onclick="openNav()">&#9776; 
    </span>
    </div>
    <div class="navbar-heading">
        <div>My Labs</div>
    </div>
    <div class="navbar-profile">
        <div class="profile-image"><img src="../../public/images/profile-picture.png"/></div>
    </div>
</div>