body{
    font-family: Roboto;
font-style: normal;
background: #E5E5E5;
}  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #244D7C;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .header
  {
      background-color: #2F8FFF;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 20px;
  }
  .navbar-heading
  {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
  }
  .navbar-profile .profile-image img{
    width: 32px;
    height: 32px;
  }
  .myLabs-action-component
  {
      display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

  }
  .myLabs-action-component .action-heading .main-heading
  {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #000000;
  }
  .myLabs-action-component .action-heading .sub-heading
  {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .myLabs-action-component .btn{

background: #2F8FFF;
border-radius: 8px;
align-items: center;
letter-spacing: 0.02em;
width: 169px;
font-size: 18px;
color: #FFFFFF
  }
  .myLabs-action-component .btn:hover{
    color: #FFFFFF;
    background: #244D7C
  }
  .physicsLab-table
  {
      width: 100%;
      padding: 10px 20px;

  }
  .lab-table
  {
      width: 100%;
      background: #FFFFFF;
box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.1), 1px 1px 6px rgba(0, 0, 0, 0.1);
border-radius: 6px !important;

  } 
  .lab-table tr
  {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  
  }
  .lab-table tr:last-child
  {
    border:none
  }
  .lab-table th, td{
    padding: 16px !important;

  }
  .lab-table th
  {
      font-size: 18px;
  }
  .lab-table td
  {
      font-size: 16px;
      letter-spacing: 0.02em;
color: rgba(0, 0, 0, 0.7);
  }

  .card-settings
  {
    color: #000000;
    font-weight: 800;
    font-size: 18px;
    cursor: pointer;
    position: relative;
  
  }
  .card-settings .icon
  {
    float: right;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(85, 31, 31, 0.2);
    padding: 12px 16px;
    z-index: 1;
  
  }
  .dropdown-content a
  {
      font-size: 12px;
      margin: 10px 0px;
      text-decoration: none !important;
  }
  .dropdown-content a:hover
  {
      color: #244D7C;
  }
  .card-settings:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }


  /* form css */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 30%;
}
.modal-content p{
  font-weight: 500;
font-size: 22px;
line-height: 26px;
color: rgba(0, 0, 0, 0.8);
}
.modal-content p img{
  margin-right:10px;
  line-height: 26px;
 }
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.closeToaster
{
  float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    cursor: pointer;
}
.form-content
{

  width: 100%;
}
label{
  font-weight: 500;
font-size: 14px;
line-height: 19px;
color: rgba(0, 0, 0, 0.9);
margin: 10px auto;
}
input, select{
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.4);
border-radius: 3px;
font-weight: normal;
font-size: 14px;
line-height: 19px;
color: rgba(0, 0, 0, 0.8);
padding: 10px;

}
.student-name, .instructor-name, .day, .start-end-time
{
  margin:20px auto
}
.form-submit-btn
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 30px;
}
.form-submit-btn a{
  color: #2F8FFF !important;
  font-weight: 500;
font-size: 14px;
text-decoration: none !important;
}
.form-submit-btn a:hover{
  color: #094385 !important;
}
.cancel-btn
{
margin-left: 10px;
}
.start-end-time
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.start-time, .end-time
{
  width: 50%;
}
.start-time
{
  margin-right: 5px;
}
.end-time
{
  margin-left: 5px;
}
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }