<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<meta name="description" content="Physics Login Page"/>
<link rel="stylesheet" href="./login.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

     <div class="landing-wrapper">
      <div class="main-wrapper">
        <div class="website-intro-wrapper">
          <div class="landing-banner-wrapper">
            <!-- <img src="loginBanner.png"  /> -->
          </div>
        <div class="form-wrapper">
           <div class="form-logo-container">
               <div class="logo-container">
                 <img src="./logo.png" alt="logo"/>
               </div>
               <div class="title">
                Physics
               </div>
           </div>
           <div class="form-container">
           <div class="form-skeleton">
               <div class="form-header">
                   <div class="welcome-heading">Welcome Back</div>
                   <div class="login-heading">Login to your account</div>
               </div>
            <form
              action=""
              method="post"
              class="form-wrapper-box"
            >
            <div class="form-group">
        <span>
            <label>Email</label>
              <input
                type="email"
                name="Email"
                label="Email"
                placeholder="Enter Email"
                class="form-control"
              />
            </span>
        </div>
        <div class="form-group">
              <span>
              <label>Password</label>
              <input
                type="password"
                name="Password"
                label="Password"
                placeholder="Enter Password"
                class="form-control"
              />
            </span>
        </div>
        <div class="form-group">
            <div class="forget-password">
                <a href="#">Forget Password?</a>
            </div>
        </div>
              <div class="form-group">
                <button
                  type="submit"
                  class="btn-primary submit-button"
                >Login</button>
              </div>
                <div class="form-group">
                  <div class="seperation">
                      <div class="horizontal-line">
                      </div>
                      <div class="seperation-content">
                         <p> or</p>
                      </div>
                      <div class="horizontal-line">
                      </div>
                  </div>
                </div>
              <div class="form-group">
              <div class="navigation-wrapper">
                  <div class="google-icon">
                    <img src="./icon.png">
                  </div> 
                  <div class="navigation-content">
                     <a href="#"> Continue with Google</a>
                  </div>
              </div>
            </div>

            </form>
            <div class="form-footer">
              Don't have an account?
              <a
                href="#"
              >
                Signup
              </a>
            </div>
          </div>
        </div>
        </div>
    </div>
</div>
</div>

</body>
</html>
